<h1>Listing voitures</h1>

<table>
  <thead>
    <tr>
      <th>Marque</th>
      <th>Annee</th>
      <th>Pilote</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @voitures.each do |voiture| %>
      <tr>
        <td><%= voiture.marque %></td>
        <td><%= voiture.annee %></td>
        <td><%= voiture.Pilote %></td>
        <td><%= link_to 'Show', voiture %></td>
        <td><%= link_to 'Edit', edit_voiture_path(voiture) %></td>
        <td><%= link_to 'Destroy', voiture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Voiture', new_voiture_path %>
